{{ define "profile_content" }}
<div class="content">
  <div class="row white z-depth-2">
    <div class="col s12">
      <h5 class="center">About me</h5>
      <!-- <h5 class="center">Specialization</h5> -->
      <div class="row">
        <div class="col s12">
          <span class="center">Specialization: </span>
          {{range .Content.Specialization }}
          {{ getNameSpecialization . }}
          {{end}}
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="row">
        <div class="col s12">
          {{ .Content.About }}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{{ end }}
