{{ define "profile_content"}}

<div class="content">
  <p>Contacts</p>
  <div class="contacts card">
    <div class="telephone">
      <span class="bold">Telephone:</span> {{.Other.Phone}}
    </div>
    <div class="email">
      <span class="bold">Email:</span> {{.Other.Email}}
    </div>
    <div class="facebook">
      <span class="bold">Facebook:</span> {{.Other.Facebook}}
    </div>
    <div class="Skype">
      <span class="bold">Skype:</span> {{.Other.Skype}}
    </div>
  </div>
</div>

{{ end }}
