{{define "content"}}
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <form>
                        <div class="input-field">
                            <input id="search" type="search" required>
                            <label for="search">Search</label>
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
                <div class="inbox_chat" id="inbox_chat">
                </div>
            </div>
            <div class="mesgs" id="mesgs">
                <div class="msg_history" id="msg_history">
                    <div class="valign-wrapper" style="height: 100%; justify-content: center">
                        <h5>Select dialog</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/dialogs.js"></script>
{{ end }}
