{{define "content"}}
  <script src="/static/js/rating.js"></script>
<div class="wrap">
  <div class="container">
    <div class="section">
      <div class="row white z-depth-2">
        <div class="col s12 m12 l4">
          <div class="section">
            <div class="row">
              <div class="col s12">
                <img class="responsive-img materialboxed" src="{{.User.Photo}}" style="width: 100%;max-width: 250px; margin: auto">
              </div>
              <div class="col s12 center-align">
                <form action="/my_profile/upload_photo" method="post" enctype="multipart/form-data" style="width: 100%; max-width: 250px; margin: auto;">
                  <div class="file-field input-field">
                    <div class="btn" style="width: 100%;">
                      <span>Change photo</span>
                      <input type="file" name="photo" onchange="this.form.submit()">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text" hidden>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="row">
              <div class="col s12 center-align">
                <div class="rating" id="{{.User.ID}}">
                  <script>renderStars({{.User.ID}}, {{.User.Rait }})</script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col s12 m12 l8">
          <div class="content">
            <div class="row section ">
              <div class="col s12">
                <p class="flow-text center-align">
                  {{ .User.FirstName }} {{ .User.LastName }}
                  <a title="Logout" class="right hide-on-med-and-down" href="/logout"><i class="material-icons left"> exit_to_app</i></a>
                  <a title="Setting" class="right hide-on-med-and-down" href="/my_profile/setting"><i class="material-icons left">settings</i></a>
                  <a title="Messages" class="right hide-on-med-and-down center-align" href="/my_profile/messages">
                    <i class="material-icons left">message<span class="red white-text left" style="border-radius: 7px; padding: 2px 4px;font-size: 0.7rem;">4</span>
                    </i>
                  </a>
                </p>
              </div>
            </div>
              {{ template "profile_extends" .}}
            <div class="row">
              <div class="col s4 m3">
                <p class="bold center-align">Facebook:</p>
              </div>
              <div class="col s8 m9">
                <p class="center-align">{{ .User.Facebook }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s4 m3">
                <p class="bold center-align">Skype:</p>
              </div>
              <div class="col s8 m9">
                <p class="center-align">{{ .User.Skype }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col s4 m3">
                <p class="bold center-align">Phone:</p>
              </div>
              <div class="col s8 m9">
                <p class="center-align">{{ .User.Phone }}</p>
              </div>
            </div>
{{/*            <div class="row">*/}}
{{/*              <div class="col s12 m3">*/}}
{{/*                <p class="bold center-align">About:</p>*/}}
{{/*              </div>*/}}
{{/*              <div class="col s12 m9">*/}}
{{/*                <p>{{ .User.About }}</p>*/}}
{{/*              </div>*/}}
{{/*            </div>*/}}
          </div>
        </div>
        <div class="col s12">
          <div class="row content">
            <div class="col s12 ">
              <p class="bold center-align">About:</p>
              <p>{{ .User.About }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row white z-depth-2">
        <div class="col s12">
          <div class="section">
            {{ template "profile_content" .}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{/*<script src="/static/js/profile.js"></script>*/}}
{{ end }}
