{{ define "profile_content"}}
<div class="content">
  <div class="row">
    <form class="col s12" name="form-setting" id="form-setting" role="form" method="post">
      <h5 class="center">Setting</h5>
      <div class="row">
        <div class="col s12">
          <p class="left">Fields with * are required</p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input name="first_name" id="first_name" type="text" class="validate" value="{{.User.FirstName}}" required>
          <label for="first_name">First Name*</label>
        </div>
        <div class="input-field col s6">
          <input name="last_name" id="last_name" type="text" class="validate" value="{{.User.LastName}}" required>
          <label for="last_name">Last Name*</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="about" id="about" class="materialize-textarea" maxlength="1000">{{.User.About}}</textarea>
          <label for="about">About (max length 1000 symbols)</label>
{{/*          <p>Max length 1000 symbols</p>*/}}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="phone" id="phone" type="number" class="validate" value="{{.User.Phone}}" required>
          <label for="phone">Phone</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="facebook" id="facebook" type="text" class="validate" value="{{.User.Facebook}}" required>
          <label for="facebook">Facebook</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="skype" id="skype" type="text" class="validate" value="{{.User.Skype }}" required>
          <label for="skype">Skype</label>
        </div>
      </div>
      {{template "extention_setting" .}}
      <div class="row">
        <div class="input-field col s12 center">
          <button class="light-blue waves-effect waves-light btn" type="submit" name="save-inform" id="save-inform">Save setting</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}
