{{define "content"}}
    <script src="/static/js/rating.js"></script>
    <div class="page">
        <div class="container">
            <div class="section">
                <div class="row white z-depth-2">
                    <div class="col s12 m12 l4">
                        <div class="section">
                            <div class="row">
                                <div class="col s12">
                                    <img class="responsive-img materialboxed" src="{{.Content.Freelancer.Photo}}" style="width: 100%;max-width: 250px; margin: auto">
                                </div>
                            </div>
                            {{if .User}}
                                {{if ne .User.ID .Content.Freelancer.User.ID}}
                            <div class="row">
                                <div class="col s12 center-align">
                                    <a class="waves-effect waves-light btn modal-trigger" style="width: 100%;max-width: 250px;" href="#modal-send-message">Send message</a>
                                </div>
                                <div id="modal-send-message" class="modal">
                                    <div class="modal-content">
                                        <form class="row" method="post" action="id{{.Content.Freelancer.User.ID}}/send_message">
                                            <div class="col s12 input-field">
                                                <textarea style="height: 10rem;" name="message" id="message" class="materialize-textarea" maxlength="5000" required></textarea>
                                                <label for="message">Message:</label>
                                                <button class="right modal-close waves-effect waves-green btn-flat">Send</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                 {{end}}
                            {{end}}
                            <div class="row">
                                <div class="col s12 center-align">
                                    <div class="rating" id="{{.Content.Freelancer.User.ID}}">
                                        <script>renderStars({{.Content.Freelancer.User.ID}}, {{.Content.Freelancer.Rait }})</script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l8">
                        <div class="content">
                            <div class="row section ">
                                <div class="col s12">
                                    <p class="flow-text center-align">
                                        {{ .Content.Freelancer.FirstName }} {{ .Content.Freelancer.LastName }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m3">
                                    <p class="bold">Specializations:</p>
                                </div>
                                <div class="col s12 m9 center-align">
                                    {{range .Content.Freelancer.Specialization }}
                                        <span>{{ getNameSpecialization . }} |</span>
                                    {{end}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4 m3">
                                    <p class="bold center-align">Facebook:</p>
                                </div>
                                <div class="col s8 m9">
                                    <p class="center-align">{{ .Content.Freelancer.Facebook }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4 m3">
                                    <p class="bold center-align">Skype:</p>
                                </div>
                                <div class="col s8 m9">
                                    <p class="center-align">{{ .Content.Freelancer.Skype }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s4 m3">
                                    <p class="bold center-align">Phone:</p>
                                </div>
                                <div class="col s8 m9">
                                    <p class="center-align">{{ .Content.Freelancer.Phone }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12">
                        <div class="row content">
                            <div class="col s12 ">
                                <p class="bold center-align">About:</p>
                                <p>{{ .Content.Freelancer.About }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{if .Content.FreelancerOrders}}
                <div class="row white z-depth-2">
                    <div class="col s12">
                        <div class="section">
                                {{range .Content.FreelancerOrders}}
                                    <div class="content__works">
                                        <div class="card order">
                                            <div class="card-content">
                                                <span class="card-title"> <a href="/orders/id{{.Order.ID}}">{{.Title}}</a></span>
                                                <div class="rating" id="{{.CustomerComment.ID}}">
                                                    <script>renderStarsComment({{.CustomerComment.ID}}, {{.CustomerComment.Rait }})</script>
                                                </div>
                                                <span>{{.CustomerComment.Text}}</span>
                                            </div>
                                            <div class="card-action card-inform">
                                                <span>{{.CreatedAt.Format "02 Jan 2006 15:04:05"}}</span>
                                                <span>
                                                    <a href="#">{{.Order.Customer.FirstName}} {{.Order.Customer.LastName}}</a>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                {{end}}
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
{{ end }}
