*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

html{
  scroll-behavior: smooth;
}
body{
  background-color: #f4f6f9;
}

html{
  /*min-height: 100vh;*/
  /*min-width: 250px;*/
}

html, body{
  min-height: 100vh;
  /*height: 100%;*/
  min-width: 250px;
}

li{
    list-style: none;
    /*display: flex;*/
}

a{
    text-decoration: none;
}

nav img{
  max-height: 40%;
}

footer {
  flex: 0 auto;
}

#list-specs.collapsible-body{
  padding: 0px;
}

.collection .collection-item a {
  color: #d81b60;
  width: 100%;
}

.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
}

.horizontal-ul li{
  display: inline;
  margin-right: 5px;
}

.dropdown:hover .drop-content {
  display: block;
}

.drop-content{
  display: none;
  position: absolute;
  min-width: 200px;
}

.card, .card .card-action{
  position: static;
}

#mobile-menu a{
  width: 100%;
}

#mobile-menu{
  text-align: center;
}

.page{
  padding: 20px 0;
}

.page, .wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  /*padding: 20px 0;*/
}

.small-nav {
    height: 35px;
    line-height: 35px;
}

.section-wrap{
  margin: 3% 3% 0 3%;
}

.small-nav ul li i{
  display: none;
}

@media screen and (max-width: 1000px) {
  .small-nav a.sidenav-trigger i, .small-nav i.material-icons{
    height: 35px;
    line-height: 35px;
  }
}

.hidden-menu-item{
  /* visibility: hidden; */
  display: flex;
}

#soc-net-ul{
  margin-bottom: 0;
}
#soc-net-ul li{
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
}

#mobile-menu a{
  color: white;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.block-about{
    display: flex;
    justify-content: space-around;
}

.block{
    text-align: center;
    padding: 0 15px;
    font-size: inherit;
    max-width: 33%;
}

@media screen and (max-width: 580px) {
  .parallax-container{
    height: 65%;
  }
  .block-about {
    display: flex;
    flex-direction: column;
  }
  .block{
      max-width: 100%;
  }
}

/*----------------- login.html style -------------------*/

.form{
  background: #FFFFFF;
  max-width: 60%;
  min-width: 300px;
  width: 60%;
  padding: 20px 25px;
  margin: auto auto;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.group-radio{
  display: flex;
  flex-wrap: wrap;
}

.group-radio label{
  text-align: center;
  width: 50%;
  padding: 10px 0;
}

.group-radio input{
  width: auto;
}

.selected-group{
  background-color: #26a69a;
  pointer-events: none;
}

.message{
  padding-top: 2%;
  text-align: center;
}

.btn-disabled{
  background-color: grey;
}

.danger-pswd{
  color: red;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .form{
    max-width: 90%;
    width: 90%;
  }
}

/* -----------------base profile ----------------- */

.profile-wrap{
  height: 100%;
  width: 90%;
  /*max-width: 90%;*/
  min-width: 300px;
  /*min-height: 100%;*/
  /* background-color: white; */
  background-color: #fafafa;
  margin: 20px auto;
  padding: 30px 20px;
  /*box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);*/
}


/* -----------------profile freelancer ----------------- */

#user-menu{
  border: 2px solid #e0e0e0;
  border-bottom: 0px;
  display: flex;
  justify-content: space-around;
}

#user-menu a{
  color: black;
}

#user-menu a:hover{
  color: black;
}

#drop-menu-user a{
  text-align: center;
  width: 100%;
}

.container__img img{
  width: auto;
  max-width: 100%;
  max-height: 300px;
}

.profile-navigation{
  display: flex;
  flex-direction: column;
  margin: auto;
}

.vertical-menu ul{
  display: flex;
  flex-direction: column;
  color: black;
}

.vertical-menu a.collection-item{
  color: black;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.vertical-menu a.collection-item:hover{
  font-style: italic;
  background-color: #0277bd;
  /* color: white; */
}

#icon-user-mobile{
  display: none;
}

.base-info{
  display: flex;
  justify-content: space-between;
}

.name{
  font-size: 150%;
}

.content p{
  /*text-align: center;*/
  /*font-size: 125%;*/
}

.content{
  text-align: justify;
  /*padding: 0px 20px;*/
  padding: 0px 2%;
}

.content__works{
  display: flex;
  flex-direction: column;
}

.order{
  border: 2px solid #80cbc4 ;
}

.order:hover .action-block {
  display: inline;
}

.action-block{
  display: none;
}

.card-work{
  background-color: white;
  min-height: 100px;
}

.card-inform{
  display: flex;
  justify-content: space-between;
}

.checked {
  color: orange;
}

.selected-item{
  background-color: #9e9e9e;
  pointer-events:none;
}

.swap-page{
  width: 100%;
  display: flex;
  justify-content: center;
}

.pagination{
  text-align:center;
}

.contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white;
  padding: 10px;
}

.contacts div{
  min-width: 50%;
  margin: 10px 0;
}

.bold{
  font-weight: bold;
}

@media screen and (max-width: 350px) {
  .base-info{
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .order:hover .action-block {
    display: block;
  }
  .action-block {
    display: block;
    float: none !important;
    text-align: center;
    margin-top: 10px;
  }
  .action-block i{
    float: none !important;
  }
  .card-action{
    text-align: center;
  }
}

@media screen and (max-width: 990px) and (min-width: 599px) {
  .vertical-menu ul{
    flex-direction: row;
    justify-content: center;
  }
  .vertical-menu li{
    padding: 10px 10px;
  }
  .action-block {
    display: inline;
  }
}

/*---------------------Orders--------------------------------*/
form.form-search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.form-search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.form-search button:hover {
  background: #0b7dda;
}

form.form-search::after {
  content: "";
  clear: both;
  display: table;
}


/*---------------------------Not Found Page----------------------------*/
.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
          repeating-linear-gradient(
                  180deg,
                  rgba(0, 0, 0, 0) 0,
                  rgba(0, 0, 0, 0.3) 50%,
                  rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 99;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
          0deg,
          transparent 0%,
          rgba(32, 128, 32, 0.2) 2%,
          rgba(32, 128, 32, 0.8) 3%,
          rgba(32, 128, 32, 0.2) 3%,
          transparent 100%);
  background-repeat: no-repeat;
  animation: scan 7.5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; }
  35%, 100% { background-position: 0 100vh; }
}

.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
          0 0 1px rgba(51, 255, 51, 0.4),
          0 0 2px rgba(255, 255, 255, 0.8);
}

.output::before {
  content: "> ";
}
