{{define "content_panel"}}
    {{$userID := .User.ID}}
    <script src="/static/js/rating.js"></script>
    <div class="col s12 m12 l8">
        <div class="row">
            <div class="col s12">
                <p class="center-align flow-text">Users</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{if .Content.Users}}
                    {{range .Content.Users}}
                        {{if ne $userID .ID}}
                        <div class="card order" id="user-id{{.ID}}">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m4">
                                        <img class="responsive-img materialboxed" src="{{.Photo}}" style="width: auto; max-width: 100%; max-height: 200px; margin: auto">
                                    </div>
                                    <div class="col s12 m8">
                                        {{if eq .RoleID 1}}
                                            <p class="card-title"> <a href="/freelancers/id{{.ID}}">{{.FirstName}} {{.LastName}}</a></p>
                                            <p>Role: Freelancer</p>
                                        {{end}}
                                        {{if eq .RoleID 2}}
                                            <p class="card-title"> <a href="/customer/id{{.ID}}">{{.FirstName}} {{.LastName}}</a></p>
                                            <p>Role: Customer</p>
                                        {{end}}
                                        <div class="rating" id="{{.ID}}">
                                            <script>renderStars({{.ID}}, {{.Rait }})</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <span>Date join: {{.CreatedAt.Format "02.01.2006"}}</span>
                                <button class="btn-small right" onclick="deleteUser({{.ID}})" title="Delete"><i class="material-icons">delete</i></button>
                            </div>
                        </div>
                        {{end}}
                    {{end}}
                {{else}}
                    <div class="section">
                        <p class="center-align flow-text">No users</p>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
    <script src="/static/js/all_users.js"></script>
{{ end }}
