{{define "content_panel"}}
    <div class="col s12 m12 l8">
        <div class="row">
            <div class="col s12">
                <p class="center-align flow-text">Users</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                {{if .Content.Users}}
                    {{range .Content.Users}}
                        <div class="card order">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12 m4">
                                        <img class="responsive-img materialboxed" src="{{.Photo}}" style="width: auto; max-width: 100%; max-height: 200px; margin: auto">
                                    </div>
                                    <div class="col s12 m8">
                                        <span class="card-title"> <a href="/freelancers/id{{.ID}}">{{.FirstName}} {{.LastName}}</a></span>
                                        <div class="rating" id="{{.ID}}">
                                            <script>renderStars({{.ID}}, {{.Rait }})</script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <span>Date join: {{.CreatedAt.Format "02.01.2006"}}</span>
                            </div>
                        </div>
                    {{end}}
                {{else}}
                    <div class="section">
                        <p class="center-align flow-text">No users</p>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
{{ end }}
