{{define "base"}}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{ .PageTitle }}</title>
  <link rel="shortcut icon" href="/static/image/WOM-3-psd-volunteer.png" type="image/x-icon">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/static/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/materialize.css">
  <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body class="indigo lighten-5">
  {{template "header" .}}
  {{template "content" .}}
  {{template "footer"}}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/main.js"></script>
</body>
</html>
{{end}}
