<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="shortcut icon" href="/static/image/WOM-3-psd-volunteer.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
  </head>
  <body>

  <nav class="light-blue lighten-2">
    <div class="nav-wrapper container">
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="left hide-on-med-and-down 5">
        <li><a href="#home"><i class="material-icons right"> <img src="../static/image/home.png" alt=""></i>Home</a></li>
        <li><a href="#about"><i class="material-icons right"> <img src="../static/image/information-outline.png" alt=""></i>About</a></li>
        <li><a href="#contacts"><i class="material-icons right"> <img src="../static/image/contacts.png" alt=""></i>Contacts</a></li>
      </ul>
      <ul class="right">
        <li><a href="/sing_in"><i class="material-icons right"> <img src="../static/image/login.png" alt=""></i>Login</a></li>
        <li><a href="/sing_up"><i class="material-icons right"> <img src="../static/image/account-plus-outline.png" alt=""></i>Registration</a></li>
      </ul>
    </div>
  </nav>
  <ul class="sidenav" id="mobile-demo">
    <li><a href="#home"><i class="material-icons right"> <img src="../static/image/home.png" alt=""></i>Home</a></li>
    <li><a href="#about"><i class="material-icons right"> <img src="../static/image/information-outline.png" alt=""></i>About</a></li>
    <li><a href="#contacts"><i class="material-icons right"> <img src="../static/image/contacts.png" alt=""></i>Contacts</a></li>
  </ul>

  <div id="index-banner" class="parallax-container" id="home">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Volunteer freelance</h1>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="../static/image/volunteerism1.jpg" alt="Unsplashed background img 1"></div>
  </div>

  <div class="page">
        <div class="wrap">
            <div class="content">
                <section class="about">
                    <div class="container">
                        <div class="block-about">
                            <div class="block">
                              <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">help</i></h2>
                                <h5 class="center">Speeds up development</h5>
                              </div>
                              <p class="light">Someone text about our work.</p>
                            </div>
                            <div class="block">
                              <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">favorite</i></h2>
                                <h5 class="center">Nonprofits</h5>
                              </div>
                              <p class="light">Some text about our volunteer and free work.</p>
                            </div>
                            <div class="block">
                              <div class="icon-block">
                                <h2 class="center brown-text"><i class="material-icons">public</i></h2>
                                <h5 class="center">Around the World</h5>
                              </div>
                              <p class="light">Some text about our frelancer from around the world.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

  <footer class="page-footer light-blue lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s6">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are volunteer frelance.</p>
        </div>
        <div class="col l6 s6">
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <p class="left">© 2019 Copyright</p>
        <ul class="grey-text text-lighten-4 right" id="soc-net-ul">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="material-icons"> <img src="../static/image/facebook.png" alt=""></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="material-icons"> <img src="../static/image/twitter.png" alt=""></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="material-icons"> <img src="../static/image/instagram.png" alt=""></i></a></li>
          <li><a href="https://youtube.com" target="_blank"><i class="material-icons"> <img src="../static/image/youtube.png" alt=""></i></a></li>
        </ul>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../static/js/materialize.js"></script>
  <script src="../static/js/main.js"></script>
  </body>
</html>
