{{define "footer"}}

<footer class="page-footer light-blue darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s6">
        <h5 class="white-text">Contacts</h5>
        <p class="grey-text text-lighten-4">Email: emeil@email.com</p>
        <p class="grey-text text-lighten-4">Phone: +3800000000</p>
      </div>
      <div class="col l6 s6">
        <h5 class="white-text center">Links</h5>
        <ul class="grey-text text-lighten-4 center" id="soc-net-ul">
          <li><a href="https://www.facebook.com/" target="_blank"><i class="material-icons"> <img src="/static/image/facebook.png" alt=""></i></a></li>
          <li><a href="https://twitter.com/" target="_blank"><i class="material-icons"> <img src="/static/image/twitter.png" alt=""></i></a></li>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="material-icons"> <img src="/static/image/instagram.png" alt=""></i></a></li>
          <li><a href="https://youtube.com" target="_blank"><i class="material-icons"> <img src="/static/image/youtube.png" alt=""></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <p class="center">© 2019 Copyright</p>
{{/*      <ul class="grey-text text-lighten-4 right" id="soc-net-ul">*/}}
{{/*        <li><a href="https://www.facebook.com/" target="_blank"><i class="material-icons"> <img src="/static/image/facebook.png" alt=""></i></a></li>*/}}
{{/*        <li><a href="https://twitter.com/" target="_blank"><i class="material-icons"> <img src="/static/image/twitter.png" alt=""></i></a></li>*/}}
{{/*        <li><a href="https://www.instagram.com/" target="_blank"><i class="material-icons"> <img src="/static/image/instagram.png" alt=""></i></a></li>*/}}
{{/*        <li><a href="https://youtube.com" target="_blank"><i class="material-icons"> <img src="/static/image/youtube.png" alt=""></i></a></li>*/}}
{{/*      </ul>*/}}
    </div>
  </div>
</footer>

{{end}}
