{{define "footer"}}

<footer class="page-footer light-blue darken-3">
{{/*  <div class="container">*/}}
{{/*    <div class="row">*/}}
{{/*      <div class="col l6 s6">*/}}
{{/*        <h5 class="white-text">Company Bio</h5>*/}}
{{/*        <p class="grey-text text-lighten-4">We are volunteer frelance.</p>*/}}
{{/*      </div>*/}}
{{/*      <div class="col l6 s6">*/}}
{{/*      </div>*/}}
{{/*    </div>*/}}
{{/*  </div>*/}}
  <div class="footer-copyright">
    <div class="container">
      <p class="left">© 2019 Copyright</p>
      <ul class="grey-text text-lighten-4 right" id="soc-net-ul">
        <li><a href="https://www.facebook.com/" target="_blank"><i class="material-icons"> <img src="../static/image/facebook.png" alt=""></i></a></li>
        <li><a href="https://twitter.com/" target="_blank"><i class="material-icons"> <img src="../static/image/twitter.png" alt=""></i></a></li>
        <li><a href="https://www.instagram.com/" target="_blank"><i class="material-icons"> <img src="../static/image/instagram.png" alt=""></i></a></li>
        <li><a href="https://youtube.com" target="_blank"><i class="material-icons"> <img src="../static/image/youtube.png" alt=""></i></a></li>
      </ul>
    </div>
  </div>
</footer>

{{end}}
