{{ define "content"}}
<div class="parallax-container" id="home">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Volunteer freelance</h1>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../static/image/volunteerism1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="page">
      <div class="wrap">
          <div class="content">
              <section class="about" id="about">
                  <div class="container">
                      <div class="block-about">
                          <div class="block">
                            <div class="icon-block">
                              <h2 class="center brown-text"><i class="material-icons">help</i></h2>
                              <h5 class="center">Speeds up development</h5>
                            </div>
                            <p class="light">Someone text about our work.</p>
                          </div>
                          <div class="block">
                            <div class="icon-block">
                              <h2 class="center brown-text"><i class="material-icons">favorite</i></h2>
                              <h5 class="center">Nonprofits</h5>
                            </div>
                            <p class="light">Some text about our volunteer and free work.</p>
                          </div>
                          <div class="block">
                            <div class="icon-block">
                              <h2 class="center brown-text"><i class="material-icons">public</i></h2>
                              <h5 class="center">Around the World</h5>
                            </div>
                            <p class="light">Some text about our frelancer from around the world.</p>
                          </div>
                      </div>
                  </div>
              </section>
          </div>
      </div>
  </div>
{{ end }}
