{{define "content"}}
<nav class="light-blue lighten-2">
  <div class="nav-wrapper container">
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down 5">
      <li><a href="#home"><i class="material-icons right"> <img src="../static/image/home.png" alt=""></i>Home</a></li>
      <li><a href="#about"><i class="material-icons right"> <img src="../static/image/information-outline.png" alt=""></i>About</a></li>
      <li><a href="#contacts"><i class="material-icons right"> <img src="../static/image/contacts.png" alt=""></i>Contacts</a></li>
    </ul>
    <ul class="right">
      <li><a href="/sing_in"><i class="material-icons right"> <img src="../static/image/login.png" alt=""></i>Login</a></li>
      <li><a href="/sing_up"><i class="material-icons right"> <img src="../static/image/account-plus-outline.png" alt=""></i>Registration</a></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="#home"><i class="material-icons right"> <img src="../static/image/home.png" alt=""></i>Home</a></li>
  <li><a href="#about"><i class="material-icons right"> <img src="../static/image/information-outline.png" alt=""></i>About</a></li>
  <li><a href="#contacts"><i class="material-icons right"> <img src="../static/image/contacts.png" alt=""></i>Contacts</a></li>
</ul>

<div id="index-banner" class="parallax-container" id="home">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Volunteer freelance</h1>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="../static/image/volunteerism1.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="container" id="about">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">help</i></h2>
          <h5 class="center">Speeds up development</h5>
        </div>
        <p class="light">Someone text about our work.</p>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">favorite</i></h2>
          <h5 class="center">Nonprofits</h5>
          <p class="light">Some text about our volunteer and free work.</p>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">public</i></h2>
          <h5 class="center">Around the World</h5>
          <p class="light">Some text about our frelancer from around the world.</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="row center-align">
    <h3 class="teal-text text-darken-3">For Organization</h3>
  </div>
  <div class="row">
    <div class="col s3 steps center-align">
      <div class="indigo-text text-darken-1 steps-num">1</div>
      <div class="steps-text light">create account</div>
    </div>
    <div class="col s3 steps center-align">
      <div class="indigo-text text-darken-1 steps-num">2</div>
      <div class="steps-text light">edit information about your organization</div>
    </div>
    <div class="col s3 steps center-align">
      <div class="indigo-text text-darken-1 steps-num">3</div>
      <div class="steps-text light">add project</div>
    </div>
    <div class="col s3 steps center-align">
      <div class="indigo-text text-darken-1 steps-num">4</div>
      <div class="steps-text light">finish</div>
    </div>
  </div>
  <div class="row center">
    <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
  </div>
<div class="row center-align">
  <h3 class="teal-text text-darken-3">For Volunteer</h3>
</div>
<div class="row">
  <div class="col s3 steps center-align">
    <div class="indigo-text text-darken-1 steps-num">1</div>
    <div class="steps-text light">create account</div>
  </div>
  <div class="col s3 steps center-align">
    <div class="indigo-text text-darken-1 steps-num">2</div>
    <div class="steps-text light">edit your information</div>
  </div>
  <div class="col s3 steps center-align">
    <div class="indigo-text text-darken-1 steps-num">3</div>
    <div class="steps-text light">take a project</div>
  </div>
  <div class="col s3 steps center-align">
    <div class="indigo-text text-darken-1 steps-num">4</div>
    <div class="steps-text light">finish</div>
  </div>
</div>
<div class="row center">
  <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
</div>
{{end}}
