{{define "content"}}
<div class="page">
  <div class="wrap">
    <div class="form">
      <form name="form-login" id="form-login" class="col s12" role="form" action="/login_account" method="post">
        <h3 class="center-align">Login</h3>
        {{if .Error}}
          <p class="center-align">{{.Error}}</p>
        {{end}}
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="email" name="email" id="email" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input class="validate" type="password" name="password" id="password" required>
            <label for="password">Password</label>
          </div>
        </div>
        <button class="light-blue" type="submit" name="login">Login</button>
        <p class="message">Don't have account? <a href="/registration">Registration</a></p>
      </form>
    </div>
  </div>
</div>
<script src="/static/js/login.js"></script>
{{ end }}
